{%extends "base.html" %}

{% block mainbody %}
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h1>删除地址</h1>
        <p>确认要删除以下地址吗？</p>
        <p>{{ address.full_name }} - {{ address.address_line }}, {{ address.city }}, {{ address.province }}</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">删除</button>
        </form>
        <a href="{% url 'address_list' %}">取消</a>

    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->
{% endblock %}
