{%extends "base.html" %}

{% block mainbody %}
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h2>最新公告</h2>
    <ul class="announcement-list">
        {% for announcement in announcements %}
            <li class="announcement-item">
                <h3 class="announcement-title">{{ announcement.title }}</h3>
                <p class="announcement-excerpt">{{ announcement.content }}</p> <!-- 显示前30个单词 -->
                <p class="announcement-date"><small>发布于: {{ announcement.created_at|date:"Y年m月d日 H:i" }}</small></p>
            </li>
        {% empty %}
            <li class="announcement-item">目前没有公告。</li>
        {% endfor %}
    </ul>
    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->
{% endblock %}
