{% extends "base.html" %}

{% block mainbody %}
<section id="main-content">
    <section class="wrapper site-min-height">
        <div class="container mt-5">
            <div >
                <div>
                    <h2>
                        {% if form.instance.pk %}
                            编辑分类
                        {% else %}
                            添加分类
                        {% endif %}
                    </h2>
                </div>
                <div >
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-success">保存</button>
                            <a href="{% url 'category_list' %}" class="btn btn-secondary ms-2">返回分类列表</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</section>
{% endblock %}
