{%extends "base.html" %}

{% block mainbody %}
<!-- **********************************************************************************************************************************************************
    MAIN CONTENT
    *********************************************************************************************************************************************************** -->
<section id="main-content">
    <section class="wrapper site-min-height">
        <h1>Delete Category</h1>
        <p>Are you sure you want to delete "{{ category.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit">Confirm</button>
            <a href="{% url 'category_list' %}">Cancel</a>
        </form>

    </section>
    <!-- /wrapper -->
</section>
<!-- /MAIN CONTENT -->
<!--main content end-->
{% endblock %}
